<?xml version="1.0" encoding="UTF-8"?>


<server>

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>cdi-4.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="0.0.0.0"
                  httpPort="9080"
                  httpsPort="9443">
        <cors domain="*" 
              allowedMethods="GET, POST, PUT, DELETE, OPTIONS"
              allowedHeaders="*" 
              allowCredentials="true"
              maxAge="3600" />
    </httpEndpoint>

    <applicationManager autoExpand="true"/>

    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <!-- Driver PostgreSQL -->
    <library id="postgresql-library">
        <fileset dir="${server.config.dir}/drivers" includes="postgresql-42.7.4.jar"/>
    </library>

    <!-- DataSource -->
    <dataSource
            id="ContabilidadDataSource"
            jndiName="jdbc/contabilidad"
            jdbcDriverRef="postgresql-driver"
            type="javax.sql.XADataSource"
            transactional="true">
        <properties.postgresql serverName="dpg-d4jm876uk2gs73boelg0-a" databaseName="sic135_contabilidad" portNumber="5432" user="sic135_contabilidad_user" password="OaaPH9ZGafJAypToEcHiBzuLudVtlIfJ"

        />
    </dataSource>

    <jdbcDriver id="postgresql-driver" libraryRef="postgresql-library"/>

</server>
